In [54]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stest
from scipy.stats import mannwhitneyu

In [20]:
df = pd.read_csv('BRCA.csv')

In [21]:
df.head()

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,TCGA-EW-A1OX,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,II,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,TCGA-A8-A079,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,TCGA-D8-A1XR,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,TCGA-BH-A0BF,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead

Data Cleansing

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Patient_ID          334 non-null    object
 1   Age                 334 non-null    float64
 2   Gender              334 non-null    object
 3   Protein1            334 non-null    float64
 4   Protein2            334 non-null    float64
 5   Protein3            334 non-null    float64
 6   Protein4            334 non-null    float64
 7   Tumour_Stage        334 non-null    object
 8   Histology           334 non-null    object
 9   ER status           334 non-null    object
 10  PR status           334 non-null    object
 11  HER2 status         334 non-null    object
 12  Surgery_type        334 non-null    object
 13  Date_of_Surgery     334 non-null    object
 14  Date_of_Last_Visit  317 non-null    object
 15  Patient_Status      321 non-null    object
dtypes: float64(5), object(11)
memory usage: 42.8+ KB

In [23]:
df.describe()

              Age    Protein1    Protein2    Protein3    Protein4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean    58.886228   -0.029991    0.946896   -0.090204    0.009819
std     12.961212    0.563588    0.911637    0.585175    0.629055
min     29.000000   -2.340900   -0.978730   -1.627400   -2.025500
25%     49.000000   -0.358888    0.362173   -0.513748   -0.377090
50%     58.000000    0.006129    0.992805   -0.173180    0.041768
75%     68.000000    0.343598    1.627900    0.278353    0.425630
max     90.000000    1.593600    3.402200    2.193400    1.629900

In [24]:
df.duplicated().sum()

6

In [25]:
df = df.drop_duplicates()

In [26]:
df.isnull().sum()

Patient_ID             1
Age                    1
Gender                 1
Protein1               1
Protein2               1
Protein3               1
Protein4               1
Tumour_Stage           1
Histology              1
ER status              1
PR status              1
HER2 status            1
Surgery_type           1
Date_of_Surgery        1
Date_of_Last_Visit    18
Patient_Status        14
dtype: int64

In [27]:
df.isnull()

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
331,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
332,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
333,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
334,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [28]:
df.tail()

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
330,TCGA-A8-A085,44.0,MALE,0.73272,1.11170,-0.26952,-0.354920,II,Infiltrating Lobular Carcinoma,Positive,Positive,Negative,Other,01-Nov-19,04-Mar-20,Dead
331,TCGA-A1-A0SG,61.0,FEMALE,-0.71947,2.54850,-0.15024,0.339680,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Lumpectomy,11-Nov-19,18-Jan-21,Dead
332,TCGA-A2-A0EU,79.0,FEMALE,0.47940,2.05590,-0.53136,-0.188480,I,Infiltrating Ductal Carcinoma,Positive,Positive,Positive,Lumpectomy,21-Nov-19,19-Feb-21,Dead
333,TCGA-B6-A40B,76.0,FEMALE,-0.24427,0.92556,-0.41823,-0.067848,I,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Lumpectomy,11-Nov-19,05-Jan-21,Dead
334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df.drop(334, inplace=True)

In [38]:
df.isnull().sum()

Patient_ID             0
Age                    0
Gender                 0
Protein1               0
Protein2               0
Protein3               0
Protein4               0
Tumour_Stage           0
Histology              0
ER status              0
PR status              0
HER2 status            0
Surgery_type           0
Date_of_Surgery        0
Date_of_Last_Visit    17
Patient_Status        13
dtype: int64

In [39]:
df.fillna('Unknown', inplace=True)

In [40]:
df.isnull().sum()

Patient_ID            0
Age                   0
Gender                0
Protein1              0
Protein2              0
Protein3              0
Protein4              0
Tumour_Stage          0
Histology             0
ER status             0
PR status             0
HER2 status           0
Surgery_type          0
Date_of_Surgery       0
Date_of_Last_Visit    0
Patient_Status        0
dtype: int64

In [41]:
df.head()

,Patient_ID,Age,Gender,Protein1,Protein2,Protein3,Protein4,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36.0,FEMALE,0.080353,0.42638,0.54715,0.273680,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,15-Jan-17,19-Jun-17,Alive
1,TCGA-EW-A1OX,43.0,FEMALE,-0.420320,0.57807,0.61447,-0.031505,II,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,26-Apr-17,09-Nov-18,Dead
2,TCGA-A8-A079,69.0,FEMALE,0.213980,1.31140,-0.32747,-0.234260,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,08-Sep-17,09-Jun-18,Alive
3,TCGA-D8-A1XR,56.0,FEMALE,0.345090,-0.21147,-0.19304,0.124270,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,25-Jan-17,12-Jul-17,Alive
4,TCGA-BH-A0BF,56.0,FEMALE,0.221550,1.90680,0.52045,-0.311990,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,06-May-17,27-Jun-19,Dead

Hypothesis Testing

Is there a statistically significant difference between the mean age of patients who lived and did not survive after the surgery?

In [42]:
df.groupby("Patient_Status").agg({"Age": "mean"})

                      Age
Patient_Status
Alive           58.803922
Dead            59.151515
Unknown         59.153846

- H0: there is no statistically significant difference between living and non-living.
- H1: there is significant difference.

In [56]:
ttest, pval = mannwhitneyu(df[df["Patient_Status"] == 'Alive']["Age"], df[df["Patient_Status"] == 'Dead']["Age"])
print(pval)

0.7421689531542608

In [57]:
if pval < 0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

accept null hypothesis

Another Hypothesis Testing:

- Null Hypothesis (H0): There is no significant relationship or difference between age and protein level 1.
- Alternative Hypothesis (H1): There is a significant relationship or difference between age and protein level 1.

In [67]:
df.groupby("Age").agg({"Protein1": "mean"})

      Protein1
Age
29.0 -0.051933
32.0  0.125450
35.0 -0.817530
36.0  0.260488
37.0 -0.425900
38.0 -0.203647
39.0  0.067237
40.0 -0.061432
41.0  0.141737
42.0  0.145394
43.0  0.210373
44.0  0.509790
45.0 -0.277902
46.0 -0.000495
47.0  0.063251
48.0 -0.112784
49.0 -0.319147
50.0  0.088831
51.0  0.014662
52.0  0.169288
53.0 -0.121979
54.0 -0.138714
55.0  0.017378
56.0 -0.079058
57.0  0.086240
58.0 -0.319067
59.0  0.173076
60.0  0.071511
61.0 -0.295188
62.0  0.328807
63.0 -0.051049
64.0 -0.084238
65.0 -0.180982
66.0 -0.287639
67.0 -0.140854
68.0 -0.005581
69.0 -0.183362
70.0  0.883845
71.0  0.115893
72.0 -0.126130
73.0  0.044678
74.0  0.135478
75.0 -0.430283
76.0 -0.294037
77.0 -0.073470
78.0 -0.438295
79.0  0.101062
80.0  0.202236
81.0  0.823740
82.0 -0.158570
83.0 -1.268790
84.0  0.168939
85.0  0.523165
87.0  0.310637
88.0 -0.913377
89.0 -0.249780
90.0 -1.388200

In [70]:
young_age_group = df[df['Age'] < 30]['Protein1']
old_age_group = df[df['Age'] >= 30]['Protein1']

In [72]:
ttest,pval = stats.ttest_ind(young_age_group, old_age_group)
print(pval)

0.9560594174300631

In [73]:
if pval < 0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

accept null hypothesis